html, body {
  min-height: 100%;
  margin: 0;
}

body.bg-dark {
  background-color: #000;
  position: relative;
}

.bottomgradient {
	background: linear-gradient(0deg,#00240b00,#000 0%,#0000 41%,#0000);
}

body.bg-light {
  background-color: #fff;
}

#chat-window p, #chat-window strong, #chat-window i {
  display: inline;
  animation: fadeIn 0.1s ease-in;
  scroll-behavior: smooth;
}

* {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

svg:hover {
  opacity: 0.7;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

ol {
  margin-top: 12px;
  margin-bottom: 12px;
  list-style: decimal;
}

ul {
  margin-top: 12px;
  margin-bottom: 12px;
  list-style: disc;
}

li {
  margin-left: 20px;
}

td {
  padding: 4px;
  border: 1px solid #ddd;
}

th {
  padding: 4px;
  text-align: left;
}

.sold-banner:after {
  content:"Såld";
  position: absolute;  
  right:0;
  bottom:0;
  background-color: #737d87;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 40px;
  width: 250px;
  display: block;
  color: white;
  padding: 2px 0px 0px 0px;
  display: flex;
  justify-content: center;
  transform: rotate(-45deg) translateX(70px) translateY(20px);
}