package reusable

templ Chip(text string, value string) {
	<div class="rounded-lg bg-gray-200 px-3 py-1 inline-flex items-center gap-2">
		<span class="text-xl">
			{ text }
		</span>
		<span class="text-xl font-bold">
			{ value }
		</span>
	</div>
}
