package reusable

templ Hamburger(color string) {
	<svg stroke={ color } fill={ color } stroke-width="0" viewBox="0 0 448 512" color="black" height="30" width="30" xmlns="http://www.w3.org/2000/svg" style="color: black;">
		<path d="M0 84h448v24H0V84zm0 160h448v24H0v-24zm0 160h448v24H0v-24z"></path>
	</svg>
}
